body{
    padding: 0;
    margin: 0;
    block-size: border-box;
    } 
    .happy{
    background-color: #007a48;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 1000px;
    color: white;
}
    img{
        width: 400px;
        margin: 10px;
        
    }
    .right{
        width: 550px;
        
    }
    html{
        padding: 20px;
        background-color: rgb(194, 192, 192);
        margin: 0px;

       }
       p{
        font-size: 15px;
       }
       .aloyce{
        display: flex;
        justify-content:center
       }
       .bea{
        margin-left: 160px;
        margin-top: 50px;
        margin-bottom: 40px;
        font-style: bold;
    font-size: 21px;
       }
       .pierk{
    
        display:flex;
        gap: 50px;
        justify-content: center;
       }
       .jose{
        background-color: white;
        width:300px;
        height: 400px;
        border:1px solid;
        border-color: white;

       }